body{
    font-family: 'Gabarito' sans-serif;
}

h1{
    font-family: 'Gabarito Garamond', serif;
    font-family: 'Gabarito' sans-serif;
    color: black;
}

.my-paragraph {
    font-family: 'Gabarito', sans-serif;
    font-size: 25px;
    color: lightslategray;
}

.header{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

nav a{ 
    font-family: 'Gabarito', sans-serif;
    text-decoration: none;
}

nav > a:hover{
    color: darkred
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

nav a {
    font-family: 'Gabarito', sans-serif;
    text-decoration: none;
}

nav > a:hover{
    color: darkred;
}

.landing h1 {
    font-size: 50px; 
    font-weight: bold; 
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    top: 0;
    z-index: 5;
}

img{
    width: 450px;
}

.bttnInfo {
    font-family: 'Gabarito', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: sandybrown; 
    color: #fff; 
    border: 1px solid sandybrown; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.bttnInfo:hover {
    background-color: chocolate; 
    color: #fff; 
}

.bttnContact {
    font-family: 'Gabarito', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: sandybrown; 
    color: #fff; 
    border: 1px solid sandybrown; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.bttnContact:hover {
    background-color: chocolate; 
    color: #fff; 
}

.landing {
    display: flex;
    align-items: center;
}

.text-content {
    flex: 1;
    padding: 20px; 
}

h1 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.merged-text {
    display: inline;
}

.merged-text h1,
.merged-text p {
    display: inline;
    margin-right: 10px; 
}

.kolom1{
    display: grid;
    float: left;
    text-align: center;
    justify-content: center;
    margin: 2px;
    padding: 15px;
}
.kolom2{
    display: grid;
    float: left;
    text-align: center;
    justify-content: center;
    margin: 2px;
    padding: 15px;
} 
.kolom3{
    display: grid;
    float: left;
    text-align: center;
    justify-content: center;
    margin: 2px;
    padding: 15px;
  } 

  table {
    border: none;
    position: relative;
    justify-content: center;
    background-color: aquamarine;
    color: aquamarine;
    border: 3px solid aquamarine;
    width: 100px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: auto;
}
